.recent-post__slider {
    @media ( min-width: @sizes[ minSM ] ) {
        display: flex;
        flex-wrap: wrap;
        max-width: @sizes[minSM];
      }

      @media ( min-width: @sizes[ minLG ] ) {
        display: none;
      }
}