.table-content {
    
    @media ( min-width: @sizes[ minLG ] ) {
        position: sticky;
        top: 100px;
        right: 0;
        min-width: 240px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .table-content__list {
        position: relative;
        margin: 0 0 36px;
        --underline-height: 30px;
        --underline-offset-y: 0;
        
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -25px;
            height: calc( 100% + 40px );
            width: 1px;
            background: #E7E7E7;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: var(--underline-height);
            transform: translateY(var(--underline-offset-y));
            background: @accent;
            transition: transform 0.5s, height 0.5s;
            border-radius: 4px;
          }

        .table-content__item {
            list-style: none;
            padding: 0;
    
            &::marker {
                display: none;
            }
        }
    }
      
    &__title {
        .fontZen( 500 );
        color: @black;
        .fontSize( 20px, 28px );
        margin: 0 0 24px;

        @media ( min-width: @sizes[ minSM ] ) {
            .fontSize( 24px, 32px );
            margin: 0 0 24px;
        }

        @media ( min-width: @sizes[ minLG ] ) {
            margin: 0 0 48px;
        }
    }

    a {
        transition: @transition;
        color: @black;

        &.active {
            color: @accent;
        }
    }

    .button {

        &--mobile {
            @media ( min-width: @sizes[ minLG ] ) {
                display: none;
            }
        }
        
        &--desktop {
            @media ( max-width: @sizes[ maxLG ] ) {
                display: none;
            }
        }
    }
}

