.table-content {
    
    @media ( min-width: @sizes[ minLG ] ) {
        position: sticky;
        display: grid;
        top: 100px;
        right: 0;
        min-width: 240px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    ul {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -25px;
            height: 100%;
            width: 1px;
            background: #E7E7E7;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 48px;
            width: 1px;
            background: @accent;
        }

        li {
            list-style: none;
    
            &::marker {
                display: none;
            }
        }
    }

    &__title {
        .fontZen( 500 );
        color: @black;
        .fontSize( 20px, 28px );
        margin: 0 0 24px;

        @media ( min-width: @sizes[ minSM ] ) {
            .fontSize( 24px, 32px );
            margin: 0 0 24px;
        }

        @media ( min-width: @sizes[ minLG ] ) {
            margin: 0 0 48px;
        }
    }

    a {
        transition: @transition;

        &.active {
            color: red;
        }
    }
}