.table-content {
    

    ul {
        list-style: none;

        li {
            &::marker {
                display: none;
            }
        }
    }

    &__title {
        .fontZen( 500 );
        color: @black;
        .fontSize( 20px, 28px );
        margin: 0 0 24px;

        @media ( min-width: @sizes[ minSM ] ) {
            .fontSize( 24px, 32px );
            margin: 0 0 24px;
        }

        @media ( min-width: @sizes[ minLG ] ) {
            margin: 0 0 48px;
        }
    }

    a {
        transition: @transition;
    }
}