@import "../../../base/buttons";

.search {
  max-width: 100%;
  width: 100%;
  margin: 36px 0 0;

  @media ( min-width: @sizes[ minLG ] ) {
    max-width: 540px;
  }

  @media ( max-width: @sizes[ maxMD ] ) {
    margin: 24px auto 0;
    text-align: left;
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    @media ( min-width: @sizes[ minSM ] ) {
      flex-direction: row;
    }
  }

  .search-field {
    width: 100%;
    .font( 400 );
    .fontSize( 16px, 20px );
    color: @inputSearch[ color ];
    border-radius: @inputSearch[ radius ];
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7561 18.5774L14.782 13.6033C16.1375 11.9454 16.804 9.83002 16.6435 7.69457C16.4831 5.55913 15.508 3.56705 13.92 2.13037C12.3319 0.693699 10.2525 -0.0776494 8.11167 -0.0241229C5.97088 0.0294036 3.93256 0.90371 2.41832 2.41795C0.904076 3.93219 0.0297698 5.97052 -0.0237567 8.11131C-0.0772832 10.2521 0.694065 12.3316 2.13074 13.9196C3.56742 15.5076 5.5595 16.4827 7.69494 16.6431C9.83038 16.8036 11.9458 16.1371 13.6036 14.7816L18.5778 19.7558C18.735 19.9076 18.9455 19.9916 19.164 19.9897C19.3825 19.9878 19.5915 19.9001 19.746 19.7456C19.9005 19.5911 19.9881 19.3821 19.99 19.1636C19.9919 18.9451 19.9079 18.7346 19.7561 18.5774ZM8.33364 14.9999C7.0151 14.9999 5.72617 14.6089 4.62984 13.8764C3.53351 13.1439 2.67903 12.1027 2.17444 10.8845C1.66986 9.66632 1.53784 8.32588 1.79507 7.03267C2.05231 5.73947 2.68724 4.55158 3.61959 3.61923C4.55194 2.68688 5.73983 2.05194 7.03304 1.7947C8.32624 1.53747 9.66669 1.66949 10.8849 2.17408C12.103 2.67866 13.1442 3.53314 13.8768 4.62947C14.6093 5.7258 15.0003 7.01473 15.0003 8.33327C14.9983 10.1008 14.2953 11.7953 13.0455 13.0451C11.7957 14.2949 10.1011 14.998 8.33364 14.9999Z' fill='%23757575'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 24px 14px;
    border: @inputSearch[ border ];
    padding: 15px 15px 15px 46px;
    outline: none;
    transition: @transition;

    @media ( max-width: @sizes[ maxSM ] ) {
      .fontSize( 12px, 18px );
      padding: 15px 15px 15px 46px;
    }

    &::placeholder {
      color: @inputSearch[ placeholder ];
    }

    &:hover {
      @media ( min-width: @sizes[ minLG ] ) {
        color: @inputSearch[ colorHover ];
        border: @inputSearch[ borderHover ];
      }
    }

    &:focus {
      color: @inputSearch[ colorFocus ];
      border: @inputSearch[ borderFocus ];
    }
  }

  .btn-submit {
    .buttonMain(180px);
    max-height: 48px;

    @media ( max-width: @sizes[ maxSM ] ) {
      max-width: 100%;
    }
  }

  & .ui-menu.ui-autocomplete {
    margin-top: 5px;
    overflow: hidden;
    background: @menuSearch[ menuBg ];
    border: @menuSearch[ menuBorder ];
    box-shadow: @menuSearch[ menuShadow ];
    border-radius: @menuSearch[ menuRadius ];

    @media ( max-width: @sizes[ maxSM ] ) {
      border: @menuSearch[ menuBorderMobile ];
      box-shadow: @menuSearch[ menuShadowMobile ];
    }
  }

  .ui-autocomplete-group.ui-menu-item {
    .font( 400 );
    .fontSize( 12px, 14px );
    padding: 6px 15px;
    transition: @transition;
    background: @menuSearch[ groupBg ];
    color: @menuSearch[ groupColor ];
  }

  .ui-menu li.ui-menu-item a {
    display: block;
    .font( 400 );
    .fontSize( 14px, 17px );
    padding: 5px 15px;
    background: @menuSearch[ itemBg ];
    color: @menuSearch[ itemColor ];
    border: none;
    transition: @transition;
    margin: 0;

    @media ( max-width: @sizes[ maxSM ] ) {
      .fontSize( 12px, 14px );
    }

    b {
      .font();
      text-decoration: underline;
      color: @menuSearch[ itemColorFind ];
    }

    &:hover {
      @media ( min-width: @sizes[ minLG ] ) {
        background: @menuSearch[ itemBgHover ];
        color: @menuSearch[ itemColorHover ];

        b {
          color: @menuSearch[ itemColorFindHover ];
        }
      }
    }
  }

  #allResults {
    margin: 10px 15px 20px;

    @media ( max-width: @sizes[ maxSM ] ) {
      margin: 7px 15px 10px;
    }
  }

  #allResults a {
    .buttonResult();
  }
}