.contacts {
    padding: 48px 0 24px;

    @media ( min-width: @sizes[ minSM ] ) {
        padding: 60px 0;
    }

    @media ( min-width: @sizes[ minLG ] ) {
        position: relative;
        padding: 84px 0 120px;
    }

    &__wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 0 24px;

        @media ( min-width: @sizes[ minSM ] ) {
            display: grid;
            grid-template-areas:
            "top top"
            "phone  ."
            "address  up"
            "social  .";
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            background: @border[borderPrimary];
            width: 100%;
            max-width: 900px;

            @media ( min-width: @sizes[ minSM ] ) {
                max-width: @sizes[ minSM ];
            }
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        grid-area: top;
        grid-row-start: 1;
        grid-column-start: 2;
        align-self: baseline;

        @media ( min-width: @sizes[ minSM ] ) {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        grid-row-start: 1;
        grid-column-start: 1;

        a {
            color: @black;
        }

        li {
            list-style: none;
        }
    }

    &__email {
        .fontZen(500);
        .fontSize(26px, 34px);
        color: @black;
        margin: 18px 0 24px;

        @media ( min-width: @sizes[ minSM ] ) {
            .fontSize(30px, 34px);
            margin: 0 0 30px;
        }
    }

    &__phone {
        .fontZen(500);
        .fontSize(22px, 28px);
        color: @black;
        margin: 0 0 24px;
        grid-area: phone;
        text-decoration: none;
        pointer-events: none;

        @media ( min-width: @sizes[ minSM ] ) {
            margin: 0 0 30px;
            .fontSize(25px, 28px);
        }
    }

    &__address {
        .font(400);
        .fontSize(16px, 24px);
        color: @black;
        margin: 0 0 24px;
        grid-area: address;
        text-decoration: none;
        pointer-events: none;

        @media ( min-width: @sizes[ minSM ] ) {
            margin: 0 0 48px;
            max-width: 300px;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding: 0;
        margin: 0 0 18px;
        grid-area: social;
        list-style: none;

        @media ( min-width: @sizes[ minSM ] ) {
            flex-direction: row;
        }

        a {
            .font(400);
            .fontSize(16px, 24px);
            color: @black;
        }
    }

    .button--arrow-up {
        grid-area: up;

        @media ( min-width: @sizes[ minSM ] ) {
            justify-self: end;
            align-self: start;
        }
    }
}