@inputSearch : {

  bg : #FFFFFF;
  color : #000;
  border : 1px solid #E7E7E7;
  shadow : none;

  bgHover : #FFFFFF;
  colorHover : #404040;
  borderHover : 1px solid #32560F;
  shadowHover : none;

  bgFocus : #FFFFFF;
  colorFocus : #404040;
  borderFocus : 1px solid #8BC53F;
  shadowFocus : none;

  placeholder : #757575;
  radius : 18px;

}